body {
  font-family: monospace, sans-serif;
  color: white;
  background-color: black;
}
.aligncenter {
  text-align: center;
}
.navL {
  width: 500px;
  margin: 100px auto;
}
.links {
  font-size: 25px;
  margin: 30px;
  padding-left: 80px;
}
